<div class="login-form-wrp">
<form [formGroup]="authorizeForm" (submit)="registry()" class="registry-form" novalidate>
  <div class="form-group">
    <label for="first-name">First Name</label>
    <input type="text"
           id="first-name"
           placeholder="First name"
           formControlName="firstName"
           class="form-control"
           [ngClass]="{'input-error' : submitForm && authorizeForm.controls.firstName.errors != null}">
    <div class="form-error-wrp">
      <small class="form-error" *ngIf="submitForm && authorizeForm.controls.firstName.errors != null">First name is required</small>
    </div>
  </div>
  <div class="form-group">
    <label for="last-name">Last Name</label>
    <input type="text"
           id="last-name"
           placeholder="Last name"
           formControlName="lastName"
           class="form-control"
           [ngClass]="{'input-error' : submitForm && authorizeForm.controls.lastName.errors != null}">
    <div class="form-error-wrp">
      <small class="form-error" *ngIf="submitForm && authorizeForm.controls.lastName.errors != null">Last name is required</small>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email"
           id="email"
           placeholder="Enter email"
           formControlName="email"
           class="form-control"
           [ngClass]="{'input-error' : submitForm && authorizeForm.controls.email.errors != null}">
    <div class="form-error-wrp">
      <small class="form-error" *ngIf="submitForm && authorizeForm.controls.email.errors?.required != null">Email is required</small>
      <small class="form-error" *ngIf="submitForm && authorizeForm.controls.email.errors?.pattern != null">Email is incorrect</small>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           id="password"
           placeholder="Password"
           formControlName="password"
           class="form-control"
           [ngClass]="{'input-error' : submitForm && authorizeForm.controls.password.errors != null}">
    <div class="form-error-wrp">
      <small class="form-error" *ngIf="submitForm && authorizeForm.controls.password.errors != null">Password is required</small>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input type="password"
           id="confirm-password"
           placeholder="Confirm Password"
           formControlName="confirmPassword"
           class="form-control"
           [ngClass]="{'input-error' : submitForm && authorizeForm.controls.confirmPassword.errors != null}">
    <div class="form-error-wrp">
      <small class="form-error" *ngIf="submitForm && authorizeForm.controls.confirmPassword.errors != null">Confirm Password is required</small>
    </div>
  </div>
  <div class="input-row-column-2">
    <div class="lbls-wrp-2">
      <label for="birthday">Birthday</label>
      <label>Gender</label>
    </div>
    <div class="inputs-wrp-2">
      <div class="form-group birthday-wrp input-wrp">
        <input ngbDatepicker
               class="form-control"
               id="birthday"
               formControlName="birthday"
               placeholder="yyyy-mm-dd"
               (click)="datePicker.toggle()"
               [minDate]="{year: 1900, month: 1, day: 1}"
               #datePicker="ngbDatepicker" >
      </div>
      <div class="gender-wrp input-wrp">
        <div>
          <input class="gender-input" type="radio" id="gender-male" value="1" name="gender" formControlName="gender">
          <label class="gender-lbl-wrp" for="gender-male"><i class="fas fa-male"></i></label>
        </div>
        <div>
          <input class="gender-input" type="radio" id="gender-female" value="0" name="gender" formControlName="gender">
          <label class="gender-lbl-wrp" for="gender-female"><i class="fas fa-female"></i></label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isAdminEdit" class="form-footer-wrp">
    <div class="link-wrp">
      <a href="/log-in">Login</a>
    </div>
    <div class="footer-btns-wrp">
      <button type="submit" class="btn btn-primary">Registry</button>
    </div>
  </div>

  <div *ngIf="isAdminEdit" class="form-footer-wrp admin-btn-footer">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>

</form>
</div>
