:host {
  .login-form-wrp {
    padding: 20px;
    display: flex;
    justify-content: center;

    .registry-form {
      width: 50%;
      max-width: 500px;
      min-width: 300px;
      text-align: left;

      .input-row-column-2 {
        .lbls-wrp-2 {
          display: flex;

          label {
            width: 50%;
          }
        }

        .inputs-wrp-2 {
          display: flex;

          .birthday-wrp.input-wrp {
            padding-right: 30px;
          }

          .input-wrp {
            width: 50%;
          }
        }

        .gender-wrp {
          display: flex;
        }

        .gender-input {
          display: none;
        }

        .gender-lbl-wrp {
          font-size: 24px;
          margin-right: 20px;
        }

        .gender-input:checked + .gender-lbl-wrp {
          color: #007bff;
        }
      }
    }

    .form-footer-wrp {
      display: flex;
      align-items: center;
    }

    .admin-btn-footer {
      justify-content: center;
      button {
        width: 120px;
      }
    }

    .footer-btns-wrp {
      margin-top: 10px;
      width: 100%;
      text-align: right;

      .btn {
        text-align: center;
        width: 150px;
        margin-right: 10px;
      }
    }
  }
}
