<form [formGroup]="EditForm" (submit)="changeConfirm()" class="edit-user-form" novalidate>
  <div class="inputs-name-wrp">
    <div class="input-wrp">
      <input type="text"
             id="first-name"
             placeholder="First name"
             formControlName="firstName"
             [ngClass]="{'input-error' : submitForm && EditForm.controls.firstName.errors != null}">
    </div>
    <div class="input-wrp">
      <input type="text"
             id="last-name"
             placeholder="Last name"
             formControlName="lastName"
             [ngClass]="{'input-error' : submitForm && EditForm.controls.lastName.errors != null}">
    </div>
    <div class="form-error-wrp">
      <small class="form-error"
             *ngIf="submitForm && EditForm.controls.firstName.errors != null || EditForm.controls.lastName.errors != null">
        First name and Last name are required
      </small>
    </div>
  </div>

  <div class="input-wrp">
    <input type="email"
           id="email"
           placeholder="Enter email"
           formControlName="email"
           [ngClass]="{'input-error' : submitForm && EditForm.controls.email.errors != null}">
    <div class="form-error-wrp">
      <small class="form-error" *ngIf="submitForm && EditForm.controls.email.errors?.required != null">Email is required</small>
      <small class="form-error" *ngIf="submitForm && EditForm.controls.email.errors?.pattern != null">Email is incorrect</small>
    </div>
  </div>
  <div class="input-row-column-2">
    <div class="inputs-wrp-2">
      <div class="birthday-wrp input-wrp">
        <input ngbDatepicker
               id="birthday"
               formControlName="birthday"
               placeholder="yyyy-mm-dd"
               (click)="datePicker.toggle()"
               [minDate]="{year: 1900, month: 1, day: 1}"
               #datePicker="ngbDatepicker" >
      </div>
      <div class="gender-wrp input-wrp">
        <div>
          <input class="gender-input" type="radio" id="gender-male" value="1" name="gender" formControlName="gender">
          <label class="gender-lbl-wrp" for="gender-male"><i class="fas fa-male"></i></label>
        </div>
        <div>
          <input class="gender-input" type="radio" id="gender-female" value="0" name="gender" formControlName="gender">
          <label class="gender-lbl-wrp" for="gender-female"><i class="fas fa-female"></i></label>
        </div>
      </div>
    </div>
    <div class="form-error-wrp" *ngIf="serverError">
      <small class="form-error">{{serverErrorMsg}}</small>
    </div>
  </div>
  <button type="submit" class="confirm-button"><i class="fas fa-check-square"></i></button>
</form>
