:host {
  padding-top: 10px;
  .edit-user-form {
    .inputs-name-wrp {
      display: flex;
      position: relative;
      .input-wrp {
        width: 50%;

        &:first-child {
          padding-right: 7px;
        }

        &:last-child {
          padding-left: 7px;
        }
      }

      .form-error-wrp {
        bottom: 0;
        left: 0;
      }

    }

    .input-wrp {
      width: 100%;
      margin-bottom: 15px;
      input {
        width: 100%;
        border: 1px solid lightgray;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        font-size: 14px;
        border-radius: 25px;
        &.input-error {
          border-color: red;
        }
      }
    }

    .form-error-wrp {
      height: 16px;
      font-size: 14px;
      line-height: 16px;
    }

    .input-row-column-2 {
      position: relative;
      .form-error-wrp {
        bottom: 0;
        left: 0;
        transform: translateY(25%);
      }
    }
    .inputs-wrp-2 {
      display: flex;
      .input-wrp {
        width: 50%;
        margin-bottom: 0;
        &:first-child {
          padding-right: 7px;
        }
        &:last-child {
          padding-left: 7px;
        }
      }

      .gender-wrp {
        display: flex;
      }

      .gender-input {
        display: none;
      }

      .gender-lbl-wrp {
        font-size: 18px;
        margin-right: 20px;
      }

      .gender-input:checked+.gender-lbl-wrp {
        color: #007bff;
      }
    }
    .confirm-button {
      position: absolute;
      bottom: 0;
      right: 0;
      background: none;
      border: none;
      padding: 0 5px;
      font-size: 20px;
      color: green;
    }
  }
}
