<div class="login-form-wrp">
  <form [formGroup]="loginForm" (submit)="login()" novalidate>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email">
      <div class="form-error-wrp">
        <small *ngIf="submitForm && loginForm.controls.email.errors" class="form-error">Email is required</small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password"  id="password" placeholder="Password">
      <div class="form-error-wrp">
        <small class="form-error" *ngIf="submitForm && loginForm.controls.password.errors">Password is required</small>
      </div>
    </div>
    <div class="login-btn-wrp">
      <a class="btn btn-link custom-btn" href="/registry" role="button">Registry</a>
      <button type="submit" class="btn btn-primary custom-btn">Login</button>
    </div>
  </form>
</div>
