:host {
  width: 100%;
  display: flex;
  justify-content: center;

  .login-form-wrp {
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    padding: 20px;

    .login-btn-wrp {
      margin-top: 15px;
      text-align: center;
      .custom-btn {
        margin: 0 10px;
      }
    }
  }
}
