:host {
  .user-profile-h-row {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;

    .user-profile-h-wrp {
      width: 100%;
      max-width: 500px;
      font-size: 26px;
      font-weight: bold;
      position: relative;

      .logout-btn {
        position: absolute;
        width: 90px;
        top: 0;
        right: 15px;
      }
    }
  }

  .user-profile-wrp {
    display: flex;
    justify-content: center;

    .user-profile-row {
      width: 100%;
      max-width: 500px;
    }
  }

  .ok-cancel-icon-wrp {
    position: absolute;
    transform: translateY(-100%);
    display: flex;
    top: 0px;
    right: 0px;
    line-height: 1em;
    font-size: 20px;
    height: 20px;

    .ok-btn:hover {
      color: green;
    }

    .cancel-btn {
      margin-left: 5px;

      &:hover {
        color: red;
      }
    }
  }

  .user-info-wrp {
    border: 1px solid lightgray;
    padding: 10px 15px 0 15px;
    margin-bottom: 15px;
    position: relative;
    max-width: 500px;

    .block-header {
      position: absolute;
      background-color: white;
      padding: 0 5px;
      color: gray;
      top: -2px;
      left: 0;
      transform: translate(10px, -50%);
    }

    .edit-icon-wrp {
      position: absolute;
      top: -1px;
      right: 1px;
      line-height: 1em;
      font-size: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        color: #007bff;
      }
    }

    .user-info-wrp-inputs {
      display: flex;
      height: 43px;
      align-items: center;
      margin-bottom: 10px;

      .first-name-input-wrp {
        margin-right: 15px;
      }

      .form-error-wrp {
        transform: translate(10px, 50%);
      }
    }

    .user-password-wrp {
      display: flex;
    }

    .user-info-input-wrp {
      input {
        border: 1px solid lightgray;
        height: 30px;
        line-height: 30px;
        padding: 0px 15px;
        border-radius: 30px;
      }
    }

    .user-info-row {
      padding-bottom: 10px;
    }

    .user-name-wrp {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .user-email-wrp {
      font-style: italic;
    }

    .user-b-day-gender-row {
      display: flex;
      align-items: center;

      .gender-lbl {
        font-size: 24px;
        padding-left: 15px;
      }
    }
  }
}
