<div class="user-profile-page-h container">
  <div class="row user-profile-h-row">
    <div class="col-12 user-profile-h-wrp">
      User profile
      <button type="button" class="btn btn-light logout-btn" (click)="Logout()">Logout</button>
    </div>
  </div>
</div>
<div class="user-profile-wrp container">
  <div *ngIf="currentUser" class="row user-profile-row">
    <div class="col-12">
      <div class="user-info-wrp">
        <div class="block-header">Main info</div>
        <div (click)="startEdit()" *ngIf="!profileEdit" class="edit-icon-wrp"><i class="fas fa-pen-square"></i></div>
        <div *ngIf="profileEdit" class="ok-cancel-icon-wrp">
          <div class="ok-btn" (click)="confirmEdit()"><i class="fas fa-check-square"></i></div>
          <div class="cancel-btn" (click)="cancelEdit()"><i class="fas fa-window-close"></i></div>
        </div>
        <div *ngIf="!profileEdit" class="user-name-wrp user-info-row">
          {{currentUser.firstName}} {{currentUser.lastName}}
        </div>
        <div *ngIf="profileEdit" class="user-info-wrp-inputs user-info-row">
          <div class="first-name-input-wrp user-info-input-wrp">
            <input name="first-name"
                   placeholder="first name"
                   [ngClass]="{'input-error' : !currentUser.firstName}"
                   [(ngModel)]="currentUser.firstName">
          </div>
          <div class="last-name-input-wrp user-info-input-wrp">
            <input name="first-name"
                   placeholder="first name"
                   [ngClass]="{'input-error' : !currentUser.lastName}"
                   [(ngModel)]="currentUser.lastName">
          </div>
          <div class="form-error-wrp">
            <small class="form-error" *ngIf="!currentUser.firstName || !currentUser.lastName">
              First Name and Last Name are required
            </small>
          </div>
        </div>
        <div class="user-info-row user-email-wrp">
          {{currentUser.email}}
        </div>
        <div class="user-info-row user-b-day-gender-row">
          <div class="b-day-lbl">{{currentUser.birthday | date: 'MMMM dd, yyyy'}}</div>
          <div class="gender-lbl">
            <i *ngIf="currentUser.gender === 1" class="fas fa-male"></i>
            <i *ngIf="currentUser.gender === 0" class="fas fa-female"></i>
          </div>
        </div>
      </div>
      <div>
        <app-change-password [userEmail]="currentUser.email"></app-change-password>
      </div>
    </div>
  </div>
</div>
