:host {
  .admin-profile-h-row {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;

    .admin-profile-h-wrp {
      width: 100%;
      max-width: 500px;
      font-size: 26px;
      font-weight: bold;
      position: relative;

      .logout-btn {
        position: absolute;
        width: 90px;
        top: 0;
        right: 15px;
      }
    }
  }

  .admin-info-wrp {
    height: 145px;
    border: 1px solid lightgray;
    padding: 10px 15px 0 15px;
    margin-bottom: 15px;
    position: relative;
    max-width: 500px;

    .block-header {
      position: absolute;
      background-color: white;
      padding: 0 5px;
      color: gray;
      top: -2px;
      left: 0;
      transform: translate(10px, -50%);
    }

    .edit-icon-wrp {
      position: absolute;
      top: -1px;
      right: 1px;
      line-height: 1em;
      font-size: 20px;
      height: 20px;
      cursor: pointer;

      &:hover {
        color: #007bff;
      }
    }

    .user-info-row {
      padding-bottom: 10px;
    }

    .user-name-wrp {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .user-email-wrp {
      font-style: italic;
    }

    .user-b-day-gender-row {
      display: flex;
      align-items: center;

      .gender-lbl {
        font-size: 24px;
        padding-left: 15px;
      }
    }
  }

  .edit-form-wrp {
    padding-top: 10px;
  }

  .admin-tab-wrp {
    border: 1px solid #dee2e6;
    border-top: none;
    margin-top: -1px;

    .user-item {
      padding: 10px;
      border-bottom: 1px solid #dee2e6;
      position: relative;

      .user-items-btn-wrp {
        position: absolute;
        display: flex;
        top: 5px;
        right: 5px;

        .user-edit-icon {
          cursor: pointer;
          &:hover {
            color: #007bff;
          }
        }

        .edit-user-btn-wrp {
          margin-right: 5px;
        }
        .remove-user-btn-wrp {
          margin-left: 5px;
        }
      }

      .user-item-name {
        font-weight: bold;
      }

      .user-item-email {
        font-style: italic;
      }

      .user-item-b-day {
        display: flex;

        .gender-lbl {
          margin-left: 10px;
        }
      }

      .user-item-role {
        display: flex;
        .role-lbl {
          text-decoration: underline;
          position: relative;
          padding-right: 10px;
        }
        .role-txt {
          position: relative;
          padding-right: 5px;

          .change-role-icon {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            cursor: pointer;
            &:hover {
              color: #007bff;
            }
          }

          select {
            border: 1px solid lightgray;
            border-radius: 25px;
            height: 25px;
            padding: 0 10px;
          }
        }
      }

      .user-item-edit-form {
        max-width: 500px;
      }
    }

  }

  .add-new-user-brn-wrp {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-align: center;

    button {
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
      width: 150px;
      padding: 0;
    }
  }
}
