<div class="container">
  <div class="row admin-profile-h-row">
    <div class="col-12 admin-profile-h-wrp">
      Admin profile
      <button type="button" (click)="Logout()" class="btn btn-light logout-btn">Logout</button>
    </div>
  </div>
  <div *ngIf="adminUser" class="row">
    <div class="col-4">
      <div class="admin-info-wrp">
        <div class="block-header">Main info</div>
        <div *ngIf="!profileEdit" class="edit-icon-wrp" (click)="profileEdit = !profileEdit"><i class="fas fa-pen-square"></i></div>
        <div *ngIf="profileEdit" class="edit-icon-wrp" (click)="profileEdit = !profileEdit"><i class="fas fa-window-close"></i></div>
        <div *ngIf="!profileEdit">
          <div class="user-name-wrp user-info-row">
            {{adminUser.firstName}} {{adminUser.lastName}}
          </div>
          <div class="user-info-row user-email-wrp">
            {{adminUser.email}}
          </div>
          <div class="user-info-row user-b-day-gender-row">
            <div class="b-day-lbl">{{adminUser.birthday | date: 'MMMM dd, yyyy'}}</div>
            <div class="gender-lbl">
              <i *ngIf="adminUser.gender === 1" class="fas fa-male"></i>
              <i *ngIf="adminUser.gender === 0" class="fas fa-female"></i>
            </div>
          </div>
        </div>
        <div class="edit-form-wrp" *ngIf="profileEdit">
          <app-edit-user-form [userModel]="adminUser" (changeUser)="updateUserModel($event)"></app-edit-user-form>
        </div>
      </div>
      <div>
        <app-change-password [userEmail]="adminUser.email"></app-change-password>
      </div>
    </div>
    <div class="col-8">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="true">Users</a>
          <a class="nav-item nav-link" id="nav-groups-tab" data-toggle="tab" href="#nav-groups" role="tab" aria-controls="nav-groups" aria-selected="false">Groups</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active admin-tab-wrp" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
          <div class="add-new-user-brn-wrp">
            <button *ngIf="!showAddUserForm" type="button" class="btn btn-outline-info" (click)="showAddUserForm = true">Add new user</button>
            <button *ngIf="showAddUserForm" type="button" class="btn btn-outline-info" (click)="showAddUserForm = false">Cancel</button>
            <div *ngIf="showAddUserForm">
              <app-registry-form [isAdminEdit]="true" (createdUser)="AddNewUser()"></app-registry-form>
            </div>
          </div>
          <div *ngIf="!showAddUserForm">
            <div *ngFor="let user of userList; let idx = index" class="user-item">
            <div *ngIf="!editUsers[user.email]" class="user-items-btn-wrp">
              <div (click)="startEdit(user.email)" class="user-edit-icon edit-user-btn-wrp">
                <i class="fas fa-user-edit"></i>
              </div>
              <div (click)="removeUser(user.email, idx)" class="user-edit-icon remove-user-btn-wrp">
                <i class="fas fa-trash"></i>
              </div>
            </div>
            <div *ngIf="editUsers[user.email]" class="user-items-btn-wrp">
              <div (click)="endEdit(user.email)" class="user-edit-icon">
                <i class="fas fa-window-close"></i>
              </div>
            </div>
            <div *ngIf="!editUsers[user.email]">
              <div class="user-item-row user-item-name">{{user.firstName}} {{user.lastName}}</div>
              <div class="user-item-row user-item-email">{{user.email}}</div>
              <div class="user-item-row user-item-b-day">
                <div class="b-day-lbl">{{user.birthday | date: 'MMMM dd, yyyy'}}</div>
                <div class="gender-lbl">
                  <i *ngIf="user.gender === 1" class="fas fa-male"></i>
                  <i *ngIf="user.gender === 0" class="fas fa-female"></i>
                </div>
              </div>
              <div class="user-item-row user-item-role">
                <div class="role-lbl">
                  Role:
                </div>
                <div *ngIf="!editUserRoles[user.email]" class="role-txt">
                  {{user.role}}
                  <div class="change-role-icon" (click)="changeRoleStart(user.email)">
                    <i class="fas fa-pen-square"></i>
                  </div>
                </div>
                <div *ngIf="editUserRoles[user.email]" class="role-txt">
                  <select name="role-selector" [(ngModel)]="user.role" >
                    <option *ngFor="let r of roles">{{r}}</option>
                  </select>
                  <div (click)="changeRoleConfirm(user, idx)" class="change-role-icon">
                    <i class="fas fa-check-square"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-item-edit-form" *ngIf="editUsers[user.email]">
              <app-edit-user-form [userModel]="user" (changeUser)="updateUserItem($event, idx)"></app-edit-user-form>
            </div>
          </div>
          </div>
        </div>
        <div class="tab-pane fade admin-tab-wrp" id="nav-groups" role="tabpanel" aria-labelledby="nav-groups-tab">
          <app-groups-list></app-groups-list>
        </div>
      </div>
    </div>
  </div>
</div>
