:host {
  .group-list-wrp {
    padding: 20px;
  }

  button {
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 30px;
    font-size: 14px;
  }

  .add-new-group {
    input {
      width: 100%;
      border: 1px solid lightgray;
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
      font-weight: bold;
      padding: 0 15px;
    }

    textarea {
      width: 100%;
      border: 1px solid lightgray;
      height: 150px;
      border-radius: 15px;
      line-height: 30px;
      resize: none;
      padding: 0 15px;
      margin-top: 20px;
    }

    .edit-group-btn-wrp {
      text-align: right;
    }
  }

  .group-list-item {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;

    .group-edit-input {
      width: 100%;
      border: 1px solid lightgray;
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
      font-weight: bold;
      padding: 0 15px;
      outline: none;
      margin-top: 15px;

      &.readonly {
        border: none;
      }
    }

    .group-edit-textarea {
      height: 150px;
      line-height: 30px;
      border-radius: 15px;
      resize: none;
      font-weight: normal;
    }

    &:first-child {
      margin-top: 0;
    }

    .group-id {
      position: absolute;
      background-color: white;
      top: -1px;
      color: silver;
      transform: translateY(-50%);
      padding: 0 5px;
    }

    .remove-group-btn {
      position: absolute;
      top: 0;
      right: 5px;
      cursor: pointer;
      &:hover {
        color: #005cbf;
      }
    }

    .group-name {
      font-weight: bold;
    }

    .group-users-wrp {
      font-style: italic;
    }

    .list-button-wrp {
      text-align: right;
      button {
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        padding: 0 30px;
        font-size: 14px;
      }
      .btn-outline-danger {
        margin-right: 10px;
      }
    }

    .group-users-wrp {
      display: flex;
      align-items: center;
      margin: 10px 0;

      .group-users-lbl {
        margin-right: 10px;
      }

      .group-users-count {
        margin-right: 10px;
      }

      .add-remove-user-icons {
        display: flex;
      }
    }

    .change-user-select-wrp {
      margin-top: 10px;

      .users-btn-wrp {
        margin-top: 10px;

        button {
          margin-right: 10px;
        }
      }
    }
  }

}
