<div class="group-list-wrp">
  <div class="group-list-item add-new-group">
    <div class="group-list-row group-name">
      <input name="group-name" [(ngModel)]="newGroup.groupName" type="text" placeholder="Group name">
      <div class="form-error-wrp">
        <small class="form-error" *ngIf="groupWasAdded && !newGroup.groupName">Group name is required</small>
      </div>
    </div>
    <div class="group-list-row group-descr">
      <textarea name="group-description" [(ngModel)]="newGroup.groupDescr" placeholder="Group description"></textarea>
    </div>
    <div class="edit-group-btn-wrp">
      <button (click)="addNewGroup()" type="button" class="btn btn-outline-primary">Create group</button>
    </div>
  </div>
  <div *ngFor="let group of groupsList; let idx = index" class="group-list-item">
    <div class="group-list-row group-id">
      ID: {{group.id}}
    </div>
    <div (click)="removeGroup(group, idx)" class="remove-group-btn">
      <i class="fas fa-trash"></i>
    </div>
    <div class="group-list-row group-name">
      <input type="text"
             placeholder="Group name"
             class="group-edit-input"
             name="{{'group-name-' + group.id}}"
             [ngClass]="{'readonly' : !editGroups[group.id]}"
             [readOnly]="!editGroups[group.id]"
             [(ngModel)]="group.groupName">
    </div>
    <div class="group-list-row group-descr">
      <div *ngIf="!editGroups[group.id]">
        {{group.groupDescr}}
      </div>
      <textarea *ngIf="editGroups[group.id]" type="text"
                placeholder="Group Description"
                class="group-edit-input group-edit-textarea"
                name="{{'group-descr-' + group.id}}"
                [(ngModel)]="group.groupDescr">
      </textarea>
    </div>
    <div class="group-list-row">
      <div class="group-users-wrp" *ngIf="!editUsersInGroups[group.id]">
        <div class="group-users-lbl">
          Users:
        </div>
        <div *ngIf="!editUsersInGroups[group.id]" class="group-users-count">
          {{group.userCount}}
        </div>
        <button (click)="usersInGroupEdit(group)" class="btn btn-outline-secondary">Change</button>
      </div>

      <div class="change-user-select-wrp" *ngIf="editUsersInGroups[group.id]">
        <select multiple name="user-selector" [(ngModel)]="selectedUsersByGroups[group.id]" >
          <option *ngFor="let user of usersInGroupsModel.allUser" value="{{user.email}}">
            {{user.firstName}} {{user.lastName}} <b>{{user.email}}</b>
          </option>
        </select>
        <div class="users-btn-wrp">
          <button class="btn btn-outline-danger" (click)="usersInGroupEditCancel(group, idx)">Cancel</button>
          <button class="btn btn-outline-success" (click)="usersInGroupEditConfirm(group, idx)">Confirm</button>
        </div>
      </div>
    </div>
    <div class="list-button-wrp">
      <button class="btn btn-outline-secondary" *ngIf="!editGroups[group.id]" (click)="editGroup(group)">Edit</button>
      <button class="btn btn-outline-danger" *ngIf="editGroups[group.id]" (click)="editGroupCancel(idx)">Cancel</button>
      <button class="btn btn-outline-success" *ngIf="editGroups[group.id]" (click)="editGroupConfirm(group, idx)">Confirm Edit</button>
    </div>
  </div>
</div>
