/* You can add global styles to this file, and also import other style files */
.input-error {
  border-color: red;
}
.form-error-wrp {
  color: red;
  transform: translateY(-25%);
  position: absolute;
}
