<div class="user-info-wrp user-password-wrp">
  <div class="block-header">Change Password</div>
  <div class="user-info-input-wrp old-password-wrp">
    <div class="user-info-input-wrp">
      <input id="old-password"
             class="old-password-input"
             type="password"
             name="old-password"
             placeholder="Old Password"
             [disabled]="oldPasswordIsConfirmed"
             [(ngModel)]="changePassword.oldPassword">
      <button [disabled]="oldPasswordIsConfirmed" type="button" class="btn btn-outline-primary check-password-btn" (click)="checkPassword()">Check</button>
    </div>
    <div class="form-error-wrp">
      <small class="form-error" *ngIf="changePassword.oldPasswordError">
        {{changePassword.oldPasswordErrorMsg}}
      </small>
    </div>
  </div>
  <div *ngIf="oldPasswordIsConfirmed" class="user-passwords-wrp">
    <div class="user-passwords-wrp-inputs">
      <div class="user-info-input-wrp">
        <input id="password"
               type="password"
               name="password"
               placeholder="Password"
               [(ngModel)]="changePassword.password">
      </div>
      <div class="user-info-input-wrp">
        <input id="confirm-password"
               type="password"
               name="confirmPassword"
               placeholder="Confirm password"
               [(ngModel)]="changePassword.confirmPassword">
      </div>
      <div class="form-error-wrp">
        <small class="form-error" *ngIf="changePassword.passwordError">
          {{changePassword.passwordErrorMsg}}
        </small>
      </div>
    </div>
    <div class="change-password-btns-wrp">
      <button type="button" (click)="cancelChangePswrd()" class="btn btn-outline-danger">Cancel</button>
      <button type="button" (click)="changePswrd()" class="btn btn-success">Confirm</button>
    </div>
  </div>
</div>
