:host {

  .user-password-wrp {
    border: 1px solid lightgray;
    position: relative;
    width: 100%;
    max-width: 500px;
    padding:10px;

    .block-header {
      position: absolute;
      background-color: white;
      padding: 0 5px;
      color: gray;
      top: -2px;
      left: 0;
      transform: translate(10px, -50%);
    }

    .old-password-wrp {
      margin: 10px 0 20px 0;

      .user-info-input-wrp {
        display: flex;
        align-items: center;

        .old-password-input {
          flex-grow: 1;
          margin-right: 10px;
          height: 30px;
          line-height: 30px;
          border-radius: 30px;
          border: 1px solid lightgray;
          padding: 0 15px;
          outline: none;
        }

        .check-password-btn {
          font-size: 14px;
          padding: 0 20px;
          height: 30px;
          line-height: 30px;
          border-radius: 30px;
        }
      }
    }
  }

  .user-passwords-wrp-inputs {
    margin-bottom: 20px;
    position: relative;
    .user-info-input-wrp {
      margin-bottom: 10px;
      input {
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        border: 1px solid lightgray;
        padding: 0 15px;
        width: 100%;
      }
    }

    .form-error-wrp {
      transform: translateY(-50%);
    }
  }

  .change-password-btns-wrp {
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    button {
      padding: 0;
      height: 30px;
      width: 100px;
      border-radius: 30px;

      &:first-child {
        margin-right: 7px;
      }
      &:last-child {
        margin-left: 7px;
      }
    }
  }

}
